.side_navigation {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  padding: 1rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side_navigation.open {
  transform: translateX(0);
}

.side_navigation ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side_navigation li {
  margin: 0.5rem 0;
}

.side_navigation a {
  text-decoration: none;
  font-size: 1.2rem;
}

@media (min-width: 759px) {
  .side_navigation {
    display: none;
  }
}
